<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>

<body>
	<table>
		<tbody>
			<tr>
				<td><img src="/images/admin-ico.png" height="50px"
					width="50px" /></td>
				<td><h2>ADMIN TRADER</h2></td>
			</tr>
		</tbody>
	</table>

	<div>
		<h2>Menu</h2>

		<table>
			<tbody>
				<tr>
					<td><a href="/">Home</a></td>
					<td></td>
					<td><a href="/main/register">New Trader</td>
					<td></td>
					<td><a href="/main/viewformsearchstoch">Add Products in Stock</a></td>
					<td></td>
					<td><a href="">Invoices</a></td>
					<td></td>
					<td><a href="">Products</a></td>
					<td></td>
					<td><a href="/main/search">Search Trader</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>