<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
 
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
 crossorigin="anonymous"></link>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- JQury from Google CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
</head>

<body>
	<table>
		<tbody>
			<tr>
				<td><img src="/images/admin-ico.png" height="50px"
					width="50px" /></td>
				<td><h2>ADMIN TRADER</h2></td>
			</tr>
		</tbody>
	</table>

<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/main/viewform">Search Trader</a>
  <a class="navbar-brand" href="/main/register">Add Trader</a>
  <a class="navbar-brand" href="/main/viewformsearchstock">Add Products in Stock</a>
  <a class="navbar-brand" href="/invoice/showforminvoice">Search Invoices</a>
  <a class="navbar-brand" href="/invoice/show_add">Add Invoice</a>
  <a class="navbar-brand" href="/consumer/add">Add Consumer</a>
  <a class="navbar-brand" href="/consumer/viewsearch">Search Consumer</a>
  <a class="navbar-brand" href="/products">Products</a>
</nav>


	
</body>
</html>