<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
 
<!-- BOOTSTRAP -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
 crossorigin="anonymous"></link>
  
<script type="text/javascript" 	src="http://code.jquery.com/jquery-1.10.2.js"> </script>
<script type="text/javascript" 	src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"> </script>
<link rel="stylesheet" 	href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
	<table>
		<tbody>
			<tr>
				<td><img src="/images/consumer-ico.png" height="50px"
					width="50px" /></td>
				<td><h2>CONSUMER</h2></td>
			</tr>
		</tbody>
	</table>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/consumer">Home</a>
  <a class="navbar-brand" href="/consumer/findproducts">Search Products</a>
  <a class="navbar-brand" href="#">My Food Basket</a>
  <a class="navbar-brand" href="#">My Purchases</a>
  <a class="navbar-brand" href="#">My Profile</a>
  <form th:action="@{/logout}" method="post">
	<input type="submit" value="Cerrar Sesion"/>
  </form>
</nav>


	
</body>
</html>