<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless</title>
<th:block th:include="layout/header"></th:block>
<script type="text/javascript">
$(document).ready(function () {
    getZones(); 	//call function when page is loaded
    $('#city').change(getZones); //set on change listener
   

    function getZones() {
        var url = "/admin/address/zones?idcity=";
		 if ($('#city').val() != 0) {
            url = url + $('#city').val();
      	    $('#zone').load(url);  //load fragment and replace content
        }
    }


    $('#button-add').click(function() { 
    	var idtCity = $('#city').val();
    	var idZone  = $('#zone').val();
    	var description = $('#description').val();

		var flag=true;
		var msj="";
		
    	if(idtCity == 0){
	    	  msj+='Please select a valid City';
	    	  $('#city').focus(); 
	    	  flag= false;
  		}else if(idZone == 0){
	    	  msj+='Please select a valid Zone.';
	    	  $('#zone').focus(); 
	    	  flag= false;
  		}else if(description ==""){
  			  msj+='Please insert a valid description.';
	    	  $('#description').focus(); 
	    	  flag= false;
 		}

    		
    	if(flag==true){
			$( "#formAddress" ).submit();
    	}else{
					alert(msj);
			}
    });
});

</script>
</head>

<body>


<div class="card">
  <div style='font-weight: bold; background-color:#FFAE33'>
		<h2>Consumer Information</h2>
  </div>
  <div class="card-body">
    <p class="card-text">
    					 | Dni: <label th:text="${consumer.dni}"></label>
    					 | Full Name: <label th:text="${consumer.firstName +' '+consumer.lastName}"></label>
    					 | State: <label th:text="${consumer.state} ? 'Active': 'Inactive'"></label></p>
  </div>
</div>


<div th:if="${consumer.address==null}">
		<h3>Add Address Consumer</h3>
		<form action="/admin/consumer/address/add" method="get" id="formAddress" >
			<div class="form-group">
			<table>
				<tbody>
					<tr>
						<td><label>Select City</label></td>
						<td>
						<input type="hidden" id="idconsumer"  name="idconsumer" th:if="${consumer!=null}" th:value="${consumer.id}">
						<select id="city" name="city" class="custom-select">
                            <option selected="selected"  value="">Select an City</option>
                            <option th:each="city : ${selectCities}"
                                    th:value="${city.id}"
                                    th:text="${city.name}">
                            </option>
                        </select></td>
					</tr>
					<tr>
						<td><label>Select Zone</label></td>
						<td>
						<select id="zone" name="zone" class="custom-select">
                            <option selected="selected"  value="">Select an Zone</option>
                            <option th:each="zone : ${zones}" th:value="${zone.id}"	th:text="${zone.name}"> </option>
                        </select></td>
					</tr>
					<tr>
						<td><label>Description Address</label></td>
						<td><input type="text" id="description" name="description"  /></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<button type="button" id="button-add" class="btn btn-primary">Add Address</button>
							<button type="reset" class="btn btn-secondary">Clear</button>
						</td>
					</tr>

				</tbody>
			</table>
	</div>
	</form>
</div>


<br>
		<div th:if="${consumer.address!=null}"> 
		<table class="table table-striped" th:if="${consumer!=null}">
			<thead class="thead-dark">
				<tr>
				<th><h6>Address Description</h6></th>
				<th><h6>City</h6></th>
				<th><h6>Zone</h6></th>
				<th></th>
				</tr>
			</thead>
			
			<tr th:each="address: ${consumer.address}">
				<td th:text="${address.description}" />
			  	<td th:text="${address.city.name}" />
				<td th:text="${address.zone.name}" />
				<td>
				<a th:href="@{/admin/consumer/address/del?idaddress={idaddress}&idconsumer={idconsumer}  (idaddress=${address.id} , idconsumer=${consumer.id} )   }">
				<img src="/images/eliminar-ico.png" height="25px" width="25px" alt="Delete" title="Delete Address"/>
				</a>
				</td> 
			</tr>
		</table> 
	</div>


</body>
</html>
