<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>
<div class="card" th:if="${infoTrader!=null}">
  <div class="card-header">
    General Information
  </div>
  <div class="card-body">
    <p class="card-text">Name: <label th:text="${infoTrader.nameEnterprise}"></label>
    					 | Cuit: <label th:text="${infoTrader.cuit}"></label>
    					 | Score: <label th:text="${infoTrader.score}"></label>
    					 | State: <label th:text="${infoTrader.state} ? 'Active': 'Inactive'"></label></p>
  </div>
</div>
<div>
		<h2>Add Address</h2>

		<form action="/add-address/" method=post >
			<div class="form-group">
			<table>
				<tbody>
					<tr>
						<td><label>Select City</label></td>
						<td>
						<input type="hidden" id="idtrader"  name="idtrader" th:if="${infoTrader!=null}" th:value="${infoTrader.id}">
						<select id="city" name="city" class="custom-select">
                            <option selected="selected"  value="">Select an City</option>
                            <option th:each="city : ${selectCities}"
                                    th:value="${city.id}"
                                    th:text="${city.name}">
                            </option>
                        </select></td>
					</tr>
					<tr>
						<td><label>Select Zone</label></td>
						<td>
						<select id="zone" name="zone" class="custom-select">
                            <option selected="selected"  value="">Select an Zone</option>
                            <option th:each="zone : ${selectZones}"
                                    th:value="${zone.id}"
                                    th:text="${zone.name}">
                            </option>
                        </select></td>
					</tr>
					<tr>
						<td><label>Description Address</label></td>
						<td><input type="text" id="description" name="description"  /></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<button type="submit" class="btn btn-primary">Add Address</button>
							<button type="reset" class="btn btn-secondary">Clear</button>
						</td>
					</tr>

				</tbody>
			</table>
	</div>
	</form>
	</div>

		<p></p>
				
		<table class="table table-striped" th:if="${infoTrader!=null}">
			<thead class="thead-dark">
				<th><h6>Address Description</h6></th>
				<th><h6>City</h6></th>
				<th><h6>Zone</h6></th>
				<th></th>
			</thead>
			
			<tr th:each="address,index : ${infoTrader.address}">
				<td th:text="${address.description}" />
				<td th:text="${address.city}" />
				<td th:text="${address.zona}" />
				<td>
				<a th:href="@{/delete-address?idtrader={idtrader}&indice={indice}  (idtrader=${infoTrader.id} , indice=${index.index}) }">
				<img src="../images/eliminar-ico.png" height="25px" width="25px" alt="Delete" title="Delete Address"/>
				</a>
				</td>
			</tr>
		</table>
	</div>





</body>
</html>