<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>

	<div id="div_stock" th:if="${traderInfo}">
		<table>
			<tr>
				<td colspan="2"><h3>General Information in Stock:</h3></td>
			</tr>
			<tr>
				<td>Date Stock:</td>
				<td th:text="${traderInfo.getStock().dateStock}"></td>
			</tr>
		</table>
	</div>
	
	<p></p>
	
	<div>
		<table class="table">
			<thead class="thead-dark">
				<tr>
				<th>Code</th>
				<th>Description</th>
				<th>Units</th>
				<th>Date register</th>
				<th colspan="2"></th>
				</tr>	
			</thead>
			
		
			<tr th:each="datos : ${traderInfo.getStock().stockproducts}">
				<td th:text="${datos.product.code} +' - ' + ${datos.product.id}"></td>
				<td th:text="${datos.product.description}"></td>
				<td th:text="${datos.quantity}"></td>
				<td th:text="${datos.date}"></td>
			
				<td>
				<a th:href="@{/admin/main/updateproduct/{idprod}/trader/{idtrader} (idprod=${datos.product.id} , idtrader=${trader.id}) }">
				<img src="/images/see-ico.png" height="20px"
					width="20px" alt="Update" title="Update Product"/>
				</a>
				</td>
				
				<td>
				<a th:href="@{/admin/main/deleteproduct/{idprod}/trader/{idtrader} (idprod=${datos.product.id} , idtrader=${trader.id})}">
				<img src="/images/eliminar-ico.png" height="30px" width="30px" alt="Delete" title="Delete Product"/>
				</a>
				</td>
			
			</tr>
		</table>
	</div>


	<p></p>
	<p><h3>Form to Add Products</h3></p>

	<div id="div_stock" th:if="${products}">
		<table class="table table-bordered table-dark">
			<thead>
			<tr>
				<th>Id</th>
				<th>Code</th>
				<th>Description</th>
				<th>Branch</th>
				<th>Price</th>
				<th>Units Required</th>				
			</tr>
			</thead>

			<tr th:each="product : ${products}">
				<td th:text="${product.id}"></td>
				<td th:text="${product.code}"></td>
				<td th:text="${product.description}"></td>
				<td th:text="${product.producer}"></td>
				<td th:text="${product.priceUnit}"></td>
				<td>
						<form action="/admin/main/putproductinstock"  method="get">
								<input type="hidden" th:value="${traderInfo.id}"  name="trader"   />
								<input type="hidden" th:value="${product.id}" name="product"      />
								<input type="text" size=5  name="quantity"    />
						<button type="submit">Add</button>
						</form>
				</td>
			</tr>
		</table>
	</div>



</body>
</html>