<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>ADMIN TRADER</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>

	<div id="div_search">
		<h2>Add Products in Stock</h2>
		<form th:action="@{/main/viewformsearchstoch}" th:object="${trader}" method="post">
			<table>
				<tbody>
					<tr>
						<td><label>Cuit to Search:</label></td>
						<td><input type="text" th:field="*{cuit}" /></td>
						<td>
							<button type="submit">Search</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>




</body>
</html>