<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless-Consumer</title>
<th:block th:include="layout/header2"></th:block>
<script type="text/javascript" 	src="http://code.jquery.com/jquery-1.10.2.js"> </script>
<script type="text/javascript" 	src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"> </script>
<link rel="stylesheet" 	href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />


<script type="text/javascript">

var products = [ ];


function isPresent(newProduct) {
	for ( var index=0; index < products.length; index++ ) {
		    if((products[index].p_trader === newProduct.p_trader)   &&  (products[index].p_code === newProduct.p_code)     ) {
		   	    deleteProduct(index);
		    }
	}
	return false;
}

function deleteProduct(index) {
	products.splice(index, 1);
}




function showSelected(){
	 var html = "<p><h3 style='background-color:#FFE333' >Added in your Cart</h3></p>";
	     html += "<table class='table' >";
 	 html += "<thead class='thead-dark'><tr><th scope='col'>Trader</th>";
 	 html += "<th scope='col'>Branch</th>";
 	 html += "<th scope='col'>Code</th>";
 	 html += "<th scope='col'>Description</th>";
     html += "<th scope='col'>Price</th>";
     html += "<th scope='col'>Quantity</th></tr></thead>";
 for (var i = 0; i < products.length; i++) {
    	 html += "<tr>";
    	 html += "<td>" + products[i].p_trader + "</td>";
    	 html += "<td>" + products[i].p_branch + "</td>";
    	 html += "<td>" + products[i].p_code + "</td>";
    	 html += "<td>" + products[i].p_description + "</td>";
    	 html += "<td>" + products[i].p_price+ "</td>";
    	 html += "<td>" + products[i].p_quantity+ "</td>";
    	 html += "</tr>";
 }
 html += "</table>";
 document.getElementById("selections").innerHTML = html;

}



function removeProduct(index){
	 var trader = document.getElementById("trader"+index).value;
	 var code = document.getElementById("code"+index).value;
	 var quantity= document.getElementById("val"+ index).value;
		
     for ( var index=0; index < products.length; index++ ) {
		    if((products[index].p_trader === trader)   &&  (products[index].p_code === code)     ) {
		    	products[index].p_quantity=quantity;
		    }
	 }
     showSelected();     
}

function addProduct(index) {

	 var trader = document.getElementById("trader"+index).value;
	 var branch = document.getElementById("producer"+index).value;
     var code = document.getElementById("code"+index).value;
     var description = document.getElementById("description"+index).value;
     var price = document.getElementById("priceUnit"+ index).value;
     var quantity= document.getElementById("val"+ index).value;
     

     var newProduct = {   p_trader: null,  p_branch: null,  p_code: null,  p_description: null,	  p_price: 0,	  p_quantity: 0			};

	 newProduct.p_trader=trader;
     newProduct.p_branch=branch;
     newProduct.p_code=code;
     newProduct.p_description=description;
     newProduct.p_price=price;
     newProduct.p_quantity=quantity;

	 if(isPresent(newProduct) == false){
		 products.push(newProduct);
	  }

	 showSelected();
}




$(document).ready(function () {
	$("form").keypress(function(e) {
		  if (e.which == 13) {
		    return false;
		  }
	});

	$('form').each(function(index){
		$('#btn_add'+index).on('click', function(){
		    var value = parseInt($('#val'+index).val());
		    var cant_db = parseInt($('#cant_db'+index).val());

		    
			    if(value < cant_db){
						if(value < 100) {
				         value = value + 1;
					    }else {
						        value =100;
							    }
						$('#val'+index).val(value);
						addProduct(index );
			    }
   		   
	    });

		$('#btn_less'+index).on('click', function(){
			var value = parseInt($('#val'+index).val());
			
			   if(value >= 1){
			        value = value - 1;
			    }else{
			        value =0;
			    }
			 $('#val'+index).val(value);
			 removeProduct(index );
		});
		
		
	 });


	 $("#description").autocomplete({
	        source: function(request, response) {
	         var description = $('#description').val();
			       if(description.length >=4 ) {
							$.ajax({
		                     url: "/consumer/getdescription",
		                     type: "GET",
		                     data: { description: $('#description').val() },
		                     dataType: "json",
		                     success: function(data){
														response($.map (data, function(v,i){
																alert(v);				
															return {
																//label: v.dni+' - '+v.firstName+' - '+v.lastName,
															    //value: v.dni
															   };			
														 }));
		                                            }
		                   }); 
			       }	                   
	        }   
	    });

	
	
	$('#btn_search').click(function() { 
	    	var product = $('#description').val();
	    	var flag=true;
	    	
	    	if(!isNaN(product)){
	    		flag=false;
				$('#span-error').after('<p>Please insert a correct value.</p>')
			}

	    	if(/^[a-zA-Z0-9]*$/.test(product) == false){
	    		flag=false;
			 	$('#span-error').after('<p>Please insert a correct value.</p>')
	    	}

	    	if(flag==true){
				$( "#formFindProduct" ).submit();
			}
	    	
	});

});




</script>
</head>


<body>
	<div id="div_search">
		<h2>Find Product:</h2>
		<form action="/consumer/resulproducts"  method="get" id="formFindProduct"  >
			<div class="form-group">
				<table>
					<tbody>
						<tr>
							
							<td><label>By Description:</label></td>
							<td>
							<label for="description"></label> 
							<input type="text" id="description"  name="description" min="4" maxlength="8"/>
							<input type="hidden" id="dni"  name="dni" th:if="${consumer!=null}" th:value="${consumer.dni}">
							<input type="hidden" id="city"  name="city" th:if="${consumer!=null}" th:value="${consumer.address.city}">
							<input type="hidden" id="zone"  name="zone" th:if="${consumer!=null}" th:value="${consumer.address.zona}">
							</td>
							<td>
								<button type="button" id="btn_search" class="btn btn-primary">Search</button>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><span id="data"> </span></td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</form>
	</div>


	<div id="selections">
		
	</div>


	
	<div th:if="${#ctx.containsVariable('stockproducts')}">
		<div th:if="${ #lists.isEmpty(stockproducts)}">
			<h4>Product Don't found! ...</h4>
		</div>
	</div>
	
	<div th:if="${not #lists.isEmpty(stockproducts)}" >
			<h4 style="background-color:#FFE333">Products found near to your city <label th:text="${consumer.address.city}"></label> and zone <label th:text="${consumer.address.zona}"></label></h4>
	</div>
	
	<div th:if="${not #lists.isEmpty(stockproducts)}">
		<table class="table table-bordered table-dark">
			<tr>
				<th>#</th>
				<th>Trader</th>
				<th>Position Trader</th>
				<th>Branch</th>
				<th>Code Product</th>
				<th>Product Name</th>
				<th>Price</th>
				<th>Availables In Stock</th>
				<th>Cart in units</th>
	
			</tr>
				<tr th:each="st,index: ${stockproducts}">
					<td th:if="${st!=null}" th:text="${index.index+1}"></td>
					<td th:if="${st!=null}" th:text="${st.stock.trader.nameEnterprise}"></td>
					<td th:if="${st!=null}" cellpadding="0" cellspacing="0">
							<span th:each="address: ${st.stock.trader.address}">
								<div th:if="${consumer.address.zona==address.zona}" th:text="${address.description +' '+address.city+' '+address.zona}"></div>
							</span>
					</td>
					<td th:if="${st!=null}" th:text="${st.product.producer}"></td>
					<td th:if="${st!=null}" th:text="${st.product.code}"></td>
					<td th:if="${st!=null}" th:text="${st.product.description}"></td>
					<td th:if="${st!=null}" th:text="${st.product.priceUnit}"></td>
					<td th:if="${st!=null}" th:text="${st.quantity}"></td>
					<td th:if="${st!=null}">
					    <form th:id="'myForm' + ${index.index+1}">
					    <button type="button" th:id="'btn_add' + ${index.index+1}" style="background-color: #FFE333; font-size: 16px">+</button>
					    <input type="text" th:id="'val' + ${index.index+1}" value="0" disabled="disabled" size="3">
					  	<input type="hidden" th:id="'cant_db' + ${index.index+1}"	th:value="${st.quantity}" /> 
					    <input type="hidden" th:id="'trader' + ${index.index+1}"	th:value="${st.stock.trader.nameEnterprise}" /> 
					    <input type="hidden" th:id="'producer' + ${index.index+1}"	th:value="${st.product.producer}" /> 
					    <input type="hidden" th:id="'code' + ${index.index+1}"	th:value="${st.product.code}" /> 
					    <input type="hidden" th:id="'description' + ${index.index+1}"	th:value="${st.product.description}" />
					    <input type="hidden" th:id="'priceUnit' + ${index.index+1}"	th:value="${st.product.priceUnit}" />
					     
					    <button type="button" th:id="'btn_less' + ${index.index+1}" style="background-color: #FFE333; font-size: 16px">-</button>
						</form>
						<span th:id="'span-add'+ ${index.index+1}"> </span>
					</td>
					
				</tr>	
		</table>
	</div>


</body>
</html>