<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless-Consumer</title>
<th:block th:include="layout/headerConsumer"></th:block>
<script type="text/javascript" 	src="http://code.jquery.com/jquery-1.10.2.js"> </script>
<script type="text/javascript" 	src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"> </script>
<link rel="stylesheet" 	href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />


<script type="text/javascript">
$(document).ready(function(){
	  $("#btn_search").click(function(){
		  $( "#formFindProduct" ).submit();
	  });
	});


</script>
</head>


<body>
	<div id="div_search">
		<h2>Find Product:</h2>
		<form action="/consumer/findproduct"  method="get" id="formFindProduct"  >
			<div class="form-group">
				<table>
					<tbody>
						<tr>
							<td><label>By Description:</label></td>
							<td>
							<label for="description"></label> 
							<input type="text" id="description"  name="description" min="4" maxlength="8"/>
							</td>
							<td>
								<button type="button" id="btn_search" class="btn btn-primary">Search</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>


	<div th:if="${stockProducts!=null}" >
		<table class="table">
			<thead class="thead-dark">
			<tr>
				<th>Found in near me</th>
				<th>Product description</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Buy</th>
				
			</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${stockProducts}">
					<td th:text="${product.stock.trader.nameEnterprise}"></td>
					<td th:text="${product.product.description +' - '+product.product.producer +' ('+product.product.code+')'}"></td>
					<td th:text="${product.quantity}"></td>
					<td th:text="${'$ '+product.salesprice}"></td>
					<td>
					<a th:href="@{/consumer/car?stock={stock}&product={product} (stock=${product.stock.id}, product=${product.product.id} )}" > 
					<img src="/images/buy-ico.png" height="30px" width="30px"	alt="Buy" title="Buy" />
					</a>
					</td>
				</tr>
			</tbody>
		
		
		</table>
		
	</div>


	<div th:if="${error}">
		<h2 th:text="${error}"></h2>
	</div>

</body>
</html>