<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless-Consumer</title>
<th:block th:include="layout/headerConsumer"></th:block>
<script type="text/javascript" 	src="http://code.jquery.com/jquery-1.10.2.js"> </script>
<script type="text/javascript" 	src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"> </script>
<link rel="stylesheet" 	href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />


<script type="text/javascript">
$(document).ready(function(){
	  $("#btn_search").click(function(){
		  $( "#formFindProduct" ).submit();
	  });
	});


</script>
</head>


<body>
	<div id="div_search">
		<h2>Find Product:</h2>
		<form action="/consumer/findproduct"  method="get" id="formFindProduct"  >
			<div class="form-group">
				<table>
					<tbody>
						<tr>
							
							<td><label>By Description:</label></td>
							<td>
							<label for="description"></label> 
							<input type="text" id="description"  name="description" min="4" maxlength="8"/>
							</td>
							<td>
								<button type="button" id="btn_search" class="btn btn-primary">Search</button>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><span id="data"> </span></td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</form>
	</div>




</body>
</html>