<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<head>
<title>Home</title>
</head>



<body>
	<div layout:fragment="content">
	<h4>INTERFAZ DE ADMINISTRACION</h4>
	
	<table border="0">
		<tbody>
			<tr>
				<td>Trader</td>
				<td><a href="/main/register">Admin Trader</a></td>
			</tr>
			<tr>
				<td>Consumer</td>
				<td><a href="">Admin Consumer</a></td>
			</tr>
			<tr>
				<td>Products</td>
				<td><a href="">Admin Products</a></td>
			</tr>
	
		</tbody>
	</table>



		<p>
			
		</p>


	</div>

</body>

</html>