<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>ADMIN TRADER</title>
<th:block th:include="layout/header"></th:block>
<script type="text/javascript">



function showEditModal(idInvoice, idProd, cant) {
	var url = "/invoice/getInvoiceProduct?idInvoice="+idInvoice+"&idProd="+idProd;
	$('#update-idprod').val(idProd);
	$('#update-idinvoice').val(idInvoice);
	$('#update-quantity').val(cant);
    loadEntity(url);
}

//Ajax request for Something to populate the modal form.
function loadEntity(url) {

	$.getJSON(url, {}, function (data) {
		populateModal(data);
       });
}

//Assign the data values to the modal form.
function populateModal(data) {
    $('#update-code').val(data.code);
    $('#update-branch').val(data.producer);
    $('#update-description').val(data.description);
}



$(document).ready(function () { 

	$('#save-product').on('click', function(){
		
	});		

});
</script>
</head>

<body>

<!--MODAL FOR UPDATE  -->
<div th:id="umodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Product</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-form" role="form" action="/invoice/updateprod" method="GET">
                    <input id="update-idprod" type="hidden" />
                    <input id="update-idinvoice" type="hidden" />
                    <fieldset class="form-group">
                        <table width="100%">
                        <tr>
                        	<td>Code: </td>
                        	<td><input type="text" id="update-code" disabled="disabled"></td>
                       </tr>
                       <tr>
                        	<td>Description: </td>
                        	<td><input type="text" id="update-description" disabled="disabled"></td>
                       </tr>
                       <tr>
                        	<td>Branch: </td>
                        	<td><input type="text" id="update-branch" disabled="disabled"></td>
                        </tr>
                       <tr>
                        	<td>Quantity: </td>
                        	<td><input type="text" id="update-quantity" ></td>
                        </tr>
                        </table>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-success" id="save-product" type="button">Save</button>
                		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            	    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<div th:if="${invoice_detail.id}">	
	<h2>General Information in Invoice: </h2>
	<div th:if="${invoice_detail != null}">
		<table colspan="0" cellspacing="0">
			<tr>
				<td>
					<table class="table-active">
						<tr>
							<td>Num Invoice:</td>
							<td th:text="${invoice_detail.numInvoice}"></td>
						</tr>
						 <tr>
								<td >Date Invoice:</td> 
								<td th:text="${invoice_detail.dateInvoice}"></td>
						 </tr>
					</table>
				</td>
			</tr>
			
			<tr>
			<td>
				<table class="table-success">
					<tr>
						<td >Consumer: <label th:text="${invoice_detail.consumer.firstName + ' ' +invoice_detail.consumer.lastName}"></label></td>
					<tr>
					<tr>
						<td>DNI: <label th:text="${invoice_detail.consumer.dni}"></label></td>
					<tr>
					</table>
			</td>
			<td>
				<table class="table-info">
					<tr>	
						<td >Trader: <label th:text="${invoice_detail.trader.nameEnterprise +' '+ invoice_detail.trader.cuit}"></label>
						</td>
					<tr>
					<tr>
						<td>Email: <label th:text="${invoice_detail.trader.email}"></label></td>
					</tr>
				</table>
			</td>
			</tr>
	</table>
</div>

<p></p>


	<div th:if="${invoice_detail != null}">
		<table class="table" border=1>
			<thead class="thead-dark">
				<th>#</th>
				<th>Code</th>
				<th>Description</th>
				<th>Branch</th>
				<th>Price</th>
				<th>Current Amount</th>
				<th></th>
				<th></th>
				
				</tr>
			</thead>
			<tr th:each="invoiceProduct,index : ${invoice_detail.products}">
				<td th:text="${index.index}"></td>
				<td th:text="${invoiceProduct.poduct.code}"></td>
				<td th:text="${invoiceProduct.poduct.description}"></td>
				<td th:text="${invoiceProduct.poduct.producer}"></td>
				<td th:text="${invoiceProduct.poduct.priceUnit}"></td>
				<td th:text="${invoiceProduct.quantity}"></td>
				
				<td>
                    <a data-toggle="modal" data-target="#umodal" 
                    th:onclick="'showEditModal(\''+${invoiceProduct.invProdId.INVOICE_ID}+ '\' , 
                    							\''+${invoiceProduct.poduct.id}+ '\' , 
                    							\''+${invoiceProduct.quantity}+ '\' );'">
                    <img src="/images/SEE-ico.png" height="30px" width="30px" alt="Update" title="Update"/>
                    </a>
                </td>
				<td>
				<a th:href="@{/invoice/deleteinvoice?idinvoice={idinvoice}&idprod={idprod} (idprod=${invoiceProduct.invProdId.PRODUCT_ID} , idinvoice=${invoice_detail.id})}">
				<img src="/images/eliminar-ico.png" height="30px" width="30px" alt="Delete" title="Delete Product"/>
				</a>
				</td>
				
			</tr>
		</table>
	</div>
</div>

</body>
</html>