<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>
<h2 style='font-weight: bold; background-color:#FFAE33'>Search Invoices</h2>
		
<table>
  <tr>
    <th>
    <div id="div_search" class="form-group">
   		<form th:action="@{/admin/invoice/searchinvoice}" method="post">
		<div>
				<label for="inputCuit">Trader by Cuit:</label> 
				<input type="text"	id="cuit" name="cuit" >
				<button type="submit" class="btn btn-primary">By Cuit</button>
		</div>
		</form>
	</div>
    </th>
    
    <th>
    <div id="div_search" class="form-group">
		<form th:action="@{/admin/invoice/dnisearch}" method="post">
		<div>
				<label for="inputDni">Consumer by Dni:</label> 
				<input type="text"	id="dni" name="dni" >
				<button type="submit" class="btn btn-primary">By Dni</button>
		</div>
		</form>
	</div>
    </th>
	
	<th>
    <div id="div_search" class="form-group">
		<form th:action="@{/admin/invoice/numinvoice}" method="post">
		<div>
				<label for="inputDni">By NumInvoice:</label> 
				<input type="text"	id="numInvoice" name="numInvoice" >
				<button type="submit" class="btn btn-primary">By NumInvoice</button>
		</div>
		</form>
	</div>
    </th>
  </tr>
</table>




	<span th:text="${infoinvoice}"> </span>
	<div id="div_list" th:if="${not #lists.isEmpty(infoinvoice)}">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>Trader Cuit</th>
					<th>Score</th>
					<th>Total Invoices</th>
					<th>Total Products in Invoices</th>
				</tr>
			</thead>

			<tr th:each="trader : ${infoinvoice}">
				<td align="center" th:text="${trader.cuit}"></td>
				<td align="center" th:text="${trader.score}"></td>
				<td align="center" th:text="${#lists.size(trader.invoice)}"></td>
			</tr>
		</table>
	</div>

	<div th:if="${Error != null}">
		<h3 th:text="${Error}"></h3>
	</div>
	<p></p>
	<span th:if="${TraderInfo}">
		<p>
		<h3>
			Invoices in Trader <label th:text="${TraderInfo.nameEnterprise}"></label>
			with Cuit <label th:text="${TraderInfo.cuit}"></label>
		</h3>
		</p>
	</span>

	<div th:if="${Show != null}">
		<table class="table">
			<thead class="thead-dark">
				<th>#</th>
				<th>Invoice Date</th>
				<th>Number Invoice</th>
				<th>Amount products in invoice</th>
				<th>Cosumer</th>
				<th></th>
				<th></th>
				</tr>
			</thead>
			<tr th:each="invoice,index : ${Show}">
				<td th:text="${index.index}"></td>
				<td th:text="${invoice.dateInvoice}"></td>
				<td th:text="${invoice.numInvoice}"></td>
				<td th:text="${#lists.size(invoice.products)}"></td>
				<td th:text="${invoice.consumer.firstName} +' '+${invoice.consumer.lastName}+' '+${invoice.consumer.dni}"></td>
				<td><a th:target="_blank" th:href="@{/admin/invoice/addproducts?numInvoice={idinvoice}  (idinvoice=${invoice.numInvoice}) }">
					<img src="/images/see-ico.png" height="20px" width="20px" alt="See products in Invoice" title="See products in Invoice" />
				</a></td>
				<td><a th:href="@{/admin/invoice/delete_Invoice/{idinvoice}/cuit/{cuit} (idinvoice=${invoice.id} , cuit=${TraderInfo.cuit} ) }">
					<img src="/images/eliminar-ico.png" height="30px" width="30px" alt="Delete" title="Delete Invoice with produtcs" />
				</a></td>
			</tr>
		</table>
	</div>

	
	<span th:if="${ConsumerInfo}">
		<p>
		<h3>
			Invoices in Consumer <label th:text="${ConsumerInfo.firstName}+' '+${ConsumerInfo.lastName}"></label>
			with DNI <label th:text="${ConsumerInfo.dni}"></label>
		</h3>
		</p>
	</span>

	
	<div th:if="${consumerInvoices!= null}" >
	<table class="table">
			<thead class="thead-dark">
				<th>#</th>
				<th>Invoice Date</th>
				<th>Number Invoice</th>
				<th>Amount products in invoice</th>
				<th>Trader</th>
				<th></th>
				<th></th>
				</tr>
			</thead>
			<tr th:each="invoice,index : ${consumerInvoices}">
				<td th:text="${index.index}"></td>
				<td th:text="${invoice.dateInvoice}"></td>
				<td th:text="${invoice.numInvoice}"></td>
				<td th:text="${#lists.size(invoice.products)}"></td>
				<td th:text="${invoice.trader.cuit}+' '+${invoice.trader.nameEnterprise}"></td>
				<td><a th:target="_blank" th:href="@{/admin/invoice/addproducts?numInvoice={idinvoice}  (idinvoice=${invoice.numInvoice}) }">
					<img src="/images/see-ico.png" height="20px" width="20px" alt="See products in Invoice" title="See products in Invoice" />
				</a></td>
				<td><a th:href="@{/admin/invoice/delete_Invoice/{idinvoice}/cuit/{cuit} (idinvoice=${invoice.id} , cuit=${invoice.trader.cuit} ) }">
					<img src="/images/eliminar-ico.png" height="30px" width="30px" alt="Delete" title="Delete Invoice with produtcs" />
				</a></td>
			</tr>
		</table>
	</div>



</body>
</html>