<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>
<h3 style='font-weight: bold; background-color:#FFAE33'>Update Products</h3>

	<div id="div_stock" th:if="${products}">
		<table class="table">
			<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Type</th>
				<th>Code</th>
				<th>Description</th>
				<th>Branch</th>
				<th>Price</th>
				<th>Animal Type</th>
				<th>Date Expiry</th>
				<th></th>
				
			</tr>
			</thead>
		
			<tr th:each="product : ${products}">
				<td th:text="${product.id}"></td>
				<td th:text="${product.getClass().getSimpleName()}" ></td>
				<td th:text="${product.id}"></td>
				<td th:text="${product.description}" ></td>
				<td th:text="${product.producer}" ></td>
				<td th:text="${product.priceUnit}" ></td>
				
				<span th:if="${product.getClass().getSimpleName().equals('MeatProduct')}">
				<td th:text="${product.typeAnimal}" ></td>
				<td th:text="${product.dateExpiry}" ></td>
				</span>
			
				<span th:if="!${product.getClass().getSimpleName().equals('MeatProduct')}">
				<td></td>
				<td></td>
				</span>
				<td>
				<a th:href="@{/admin/products/detail?id={id}  (id=${product.id})}">
				<img src="../images/edit-product.png" height="35px"	width="35px" alt="Update Product" title="Update Product"/>
				</a>
				</td>
			</tr>
	
		</table>
	</div>



</body>
</html>