<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>ADMIN TRADER</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>




	<p><h3>Update Products</h3></p>
	


	<div id="div_stock" th:if="${products}">
		<table class="table">
			<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Type</th>
				<th>Code</th>
				<th>Description</th>
				<th>Branch</th>
				<th>Price</th>
				<th>Animal Type</th>
				<th>Date Expiry</th>
				<th></th>
				
			</tr>
			</thead>
		
		<form action="/products/update" method="post">
			<tr th:each="product : ${products}">
				<td th:text="${product.id}">
				<input type="hidden" id="id"  th:value="${product.id}" >
				</td>
				<td th:text="${product.getClass().getSimpleName()}" ></td>
				<td><input type="text" id="code"  th:value="${product.code}" ></td>
				<td><input type="text" id="description"  th:value="${product.description}" ></td>
				<td><input type="text" id="producer"  th:value="${product.producer}" ></td>
				<td><input type="text" id="priceUnit"  th:value="${product.priceUnit}" ></td>
				
				<span th:if="${product.getClass().getSimpleName().equals('MeatProduct')}">
				<td><input type="text" id="typeAnimal"  th:value="${product.typeAnimal}" ></td>
				<td><input type="text" id="dateExpiry"  th:value="${product.dateExpiry}" ></td>
				</span>
			
				<span th:if="!${product.getClass().getSimpleName().equals('MeatProduct')}">
				<td></td>
				<td></td>
				</span>
				<td><button type="submit" class="btn btn-primary">Update</button></td>
			</tr>
		</form>
	
		</table>
	</div>



</body>
</html>