<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<title>Payless</title>
<th:block th:include="layout/header"></th:block>

<script type="text/javascript" 	src="http://code.jquery.com/jquery-1.10.2.js"> </script>
<script type="text/javascript" 	src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"> </script>
<link rel="stylesheet" 	href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

<script type="text/javascript">
$(document).ready(function () {
    getZones(); 	//call function when page is loaded
    var xTriggered = 0;
    $('#city').change(getZones); //set on change listener
    $('#zone').change(getTraderInZone); //set on change listener


    function getZones() {
        var url = "/zones?idcity=";
		 if ($('#city').val() != 0) {
            url = url + $('#city').val();
      	    $('#zone').load(url);  //load fragment and replace content
        }
    }

    function getTraderInZone(){
        var url = "/admin/traders?idzone=";
		 if ($('#zone').val() != 0) {
           url = url + $('#zone').val();
     	    $('#traders').load(url);  //load fragment and replace content
  		  }
    }

        
    
    $("#dni-autocomplete").autocomplete({
        source: function(request, response) {
			$.ajax({
                     url: "/admin/consumer/dni",
                     type: "GET",
                     data: { dni: $('#dni-autocomplete').val() },
                     dataType: "json",
                     success: function(data){
												response($.map (data, function(v,i){
													return {
														label: v.dni+' - '+v.firstName+' - '+v.lastName,
													    value: v.dni
													   };			
												 }));
                                            }
                   });              
         }   
    });


    
    $('#btnvalidate').click(function() { 
    	var traders = $('#traders').val();
    	var dni = $('#dni-autocomplete').val();
		var flag= true;
		var msj="";
		
    	if(traders == 0){
	    	  msj+='Please select a valid Trader';
	    	  $('#traders').focus(); 
	    	  flag= false;
    	}else if(dni == ''){
		  		 msj+=' Please select a valid Trader';
		   	 	 $('#dni-autocomplete').focus();
		   	 	 flag= false;
             }

		if(flag==true){
			$( "#formInvoice" ).submit();
		}else{
					alert(msj);
			}
      })
       
	

})
</script>


</head>

<body>

	<h2>Create New Invoice action="/invoice/add"</h2>
	<form  method="post" action="/invoice/add" id="formInvoice" name="formInvoice" >
		<table>
			<tr>
				<td><label>Select City:</label></td>
				<td><select id="city" name="city" class="custom-select">
						<option selected="selected" value="0">-Select One City-</option>
						<option th:each="city : ${selectCities}" th:value="${city.id}"
							th:text="${city.name}"></option>
				</select></td>
			<tr>
			<tr>
				<td><label>Select Zone:</label></td>
				<td><select id="zone" name="zone" class="custom-select">
						<option selected="selected" value="0">-Select One Zone-</option>
						<option th:each="zone : ${zones}" th:value="${zone.id}"
							th:text="${zone.name}">
				</select></td>
			<tr>
			<tr>
				<td><label>Select Trader:</label></td>
				<td>
				<span th:text="${traders}"></span> 
				<select id="traders" name="traders" class="custom-select">
						<option selected="selected" value="0">-Select Trader-</option>
						<option th:each="trader : ${traders}" th:value="${trader.id}" th:text="${trader.nameEnterprise} +' - '+${trader.cuit}">
				</select>
				
				</td>
			</tr>
			<tr>
				<td><label>Dni Consumer:</label></td>
				<td>
				<label for="dni-autocomplete"></label> 
				<input type="text"	id="dni-autocomplete" name="dni-autocomplete" /></td>
			<tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<button type="button" class="btn btn-primary" id="btnvalidate">Create
						Invoice</button>
					<button type="reset" class="btn btn-secundary">Clear</button>
				</td>
			</tr>
		</table>

	</form>
	<p></p>


	<div th:if="${Error != null}">
		<h3 th:text="${Error}"></h3>
	</div>





</body>
</html>