<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Payless</title>
    <th:block th:include="layout/header"></th:block>
</head>

<body>

		<h2>Create New Trader </h2>
		<form th:action="@{/main/result}" th:object="${trader}" method="post">
		<div id="div_reg" class="form-group">
		   <table>
				<tbody>
					<tr>
						<td><label>Social Name</label></td>
						<td><input type="text" th:field="*{nameEnterprise}" /></td>
						<td th:if="${#fields.hasErrors('nameEnterprise')}" th:errors="*{nameEnterprise}"></td>
					</tr>
				
					<tr>
						<td><label>Cuit</label></td>
						<td><input type="text" th:field="*{cuit}" /></td>
						<td th:if="${#fields.hasErrors('cuit')}" th:errors="*{cuit}"></td>
					</tr>
					
					<tr>
						<td><label>Email</label></td>
						<td><input type="text" th:field="*{email}" /></td>
						<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
					</tr>
					
					
					<tr>
						<td></td>				
						<td><h6>Define information for login</h6></td>
					</tr>
				
					<tr>
						<td><label>UserName</label></td>
						<td><input type="text" th:field="*{name}" /></td>
						<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
						
					</tr>
					<tr>
						<td><label>Password</label></td>
						<td><input type="password"  th:field="*{password}" /></td>
						<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
			
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="reset" class="btn btn-secundary">Clear</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</form>

	<div id="div_error" th:if="${error != null}" th:text="${error}">
	</div>

	<div id="div_list" th:if="${not #lists.isEmpty(traderInfo)}">
		<h2>Store it!...</h2>
		<a th:href="@{/main/searchtrader?cuit={cuit} (cuit=${traderInfo.cuit}) }"> See Details </a>
	</div>


</body>
</html>