<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<title>ADMIN CONSUMER</title>
<th:block th:include="layout/header"></th:block>
<script type="text/javascript">
$(document).ready(function () {

    getZones(); 	//call function when page is loaded
    $('#city').change(getZones); //set on change listener

    getTraderInZone(); 	//call function when page is loaded
    $('#zone').change(getTraderInZone); //set on change listener

    
    function getZones() {
        var url = "/zones?idcity=";
		 if ($('#city').val() != 0) {
            url = url + $('#city').val();
      	    $('#zone').load(url);  //load fragment and replace content
        }
        
    }

    function getTraderInZone(){
        var url = "/traders?idzone=";
		 if ($('#zone').val() != 0) {
           url = url + $('#zone').val();
     	    $('#traders').load(url);  //load fragment and replace content
  		  }
   
    }

    
})
</script>


</head>

<body>

	<h2>Create New Invoice</h2>
	<form method="post">
		<div id="div_reg" class="form-group">
			<table>
				<tbody>
					<tr>
						<td><label>Select City:</label></td>
						<td>
							<select id="city" name="city" class="custom-select" >
                            	<option selected="selected"  value="0">-Select One City-</option>
                            	<option th:each="city : ${selectCities}"  th:value="${city.id}"    th:text="${city.name}">
                            </option>
                        </select>
						</td>
					<tr>
					<tr>
						<td><label>Select Zone:</label></td>
						<td>
							<select id="zone" name="zone" class="custom-select" >
								<option selected="selected" value="0">-Select One Zone-</option>
						    	<option th:each="zone : ${zones}"  th:value="${zone.id}"    th:text="${zone.name}">
                    		</select>
						</td>
					<tr>
				
					<tr>
						<td><label>Select Trader:</label></td>
						<td>
						<span th:text="${traders}"></span>
						<select id="traders" name="traders" class="custom-select" >
								<option selected="selected" value="0">-Select Trader-</option>
						    	<option th:each="trader : ${traders}"  th:value="${trader.id}"    th:text="${trader.nameEnterprise} +' - '+${trader.cuit}">
                    	</select>
                    	</td>
                    </tr>
					
					<tr>
						<td><label>Dni Consumer:</label></td>
						<td>
							<input type="text" id="dni" name="dni"/>
		            	</td>
					<tr>
					
					
					<tr>
						<td><label>Select Produts</label></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<button type="submit" class="btn btn-primary">Create Invoice</button>
							<button type="reset" class="btn btn-secundary">Clear</button>
						</td>
					</tr>
				</tbody>
			</table>
			<span th:if="${errors}" ></span>
		</div>
	</form>
<p></p>

<div id="div_error" th:if="${error != null}" th:text="${error}">
</div>






</body>
</html>