<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>ADMIN TRADER</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>

	<div id="div_search">
		<h2>Search Trader</h2>
		<form th:action="@{/main/searchtrader}"  method="post">
			<table>
				<tbody>
					<tr>
						<td><label>Cuit to Search:</label></td>
						<td><input type="text" id="cuit" name="cuit" /></td>
						<td>
							<button type="submit">Search</button>
						</td>
					</tr>
				</tbody>
			</table>
			</form>
	</div>


<div id="div_not_find" th:if="${notfind}">
	<h2 th:text="${notfind}"></h2>
</div>


	<div id="div_list" th:if="${not #lists.isEmpty(results)}">
		<h2>Find it</h2>
		<table>
			<tr>
				<th>Cuit</th>
				<th>Social razon</th>
				<th>Email</th>
				<th>State</th>
				<th>Score</th>
				<th>Stock</th>
				<th>Address</th>
				<th></th>
				
				

			</tr>
			<tr th:each="trader : ${results}">
				<td th:text="${trader.cuit}"></td>

				<td align="center" th:text="${trader.nameEnterprise}"></td>
				<td align="center" th:text="${trader.email}"></td>
				
				<td align="center" th:if="${trader.state==false}"  th:text="Inacive"></td>
				<td align="center" th:if="${trader.state==true}" th:text="Active"></td>
				
				
				<td align="center" th:text="${trader.score}"></td>
				<td align="center" th:if="${trader.stock!=null}" th:text="${trader.stock.dateStock}"></td>
				<td align="center" th:if="${trader.stock==null}" th:text="NO"></td>
				
				<td align="center" th:if="${trader.address.isEmpty()}" th:text="NO" width="10%"></td>
				<td align="center" th:if="${trader.address!=null}"  >
					<span th:each="address : ${trader.address}" width="30%">
						<p th:text="${address.description} +' /city ' + ${address.city} +' /zone ' +  ${address.zona}"> </p>
					</span>
				</td>
				
				
				<td>
				<a th:href="@{'/main/formupdate/'+${trader.id}}">
				<img src="../images/refresh-256.png" height="25px"	width="25px" alt="Update" title="Update Trader"/>
				</a></td>
					
				<td>
				<a th:href="@{'/main/delete/'+${trader.id}}">
				<img src="../images/delete-xxl.png" height="25px" width="25px" alt="Delete" title="Delete Trader"/>
				</a>
				</td>
				
				<td><a th:href="@{'/main/addaddress/'+${trader.id}}"> 
				   <img src="../images/addressbook-icon.png" height="25px" width="25px"	alt="Add Address" title="Add Address" /></a></td>
			
				<td>
				<a th:if="${trader.stock==null}" th:href="@{'/main/stock/'+${trader.id}}">
				<img src="../images/stock-icon.png" height="25px" 	width="25px" alt="Add Stock" title="Add Stock"/>
					</a></td>
				<td></td>
				
				

			</tr>
		</table>
	</div>


</body>
</html>