<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>

	<div id="div_search">
		<h2>Search Trader</h2>
		<form th:action="@{/admin/main/searchtrader}"  method="post">
			<div class="form-group">
			<table>
				<tbody>
					<tr>
						<td><label>Cuit to Search:</label></td>
						<td><input type="text" id="cuit" name="cuit" /></td>
						<td>
							<button type="submit" class="btn btn-primary">Search</button>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			</form>
	</div>


<div id="div_not_find" th:if="${notfind}">
	<h2 th:text="${notfind}"></h2>
</div>


	<div id="div_list" th:if="${not #lists.isEmpty(results)}" class="table table-striped">
		<table>
			<tr>
				<th>Cuit</th>
				<th>Social razon</th>
				<th>Email</th>
				<th>State</th>
				<th>Score</th>
				<th>Stock</th>
				<th colspan="5"></th>
			</tr>
			<tr th:each="trader : ${results}">
				<td th:text="${trader.cuit}"></td>

				<td align="center" th:text="${trader.nameEnterprise}"></td>
				<td align="center" th:text="${trader.email}"></td>
				
				<td class="table-danger" align="center" th:if="${trader.state==false}"  th:text="Inacive"></td>
				<td align="center" th:if="${trader.state==true}" th:text="Active"></td>
				
				
				<td align="center" th:text="${trader.score}"></td>
				<td align="center" th:if="${trader.stock!=null}" th:text="${trader.stock.dateStock}"></td>
				<td class="table-danger" align="center" th:if="${trader.stock==null}" th:text="NO"></td>
				
				<td align="center" th:if="${trader.address.isEmpty()}" th:text="NO" width="10%"></td>
				
				<td>
				<a th:href="@{'/admin/main/formupdate/'+${trader.id}}">
				<img src="/images/edit-ico.png" height="35px"	width="35px" alt="Update" title="Update Trader"/>
				</a></td>
					
				<td>
				<a th:href="@{'/admin/main/delete/'+${trader.id}}">
				<img src="/images/delete-xxl.png" height="25px" width="25px" alt="Delete" title="Delete Trader"/>
				</a>
				</td>
				
				<td><a th:href="@{/admin/main/addaddress?idtrader={idtrader} (idtrader=${trader.id})}"> 
				   <img src="/images/addressbook-icon.png" height="25px" width="25px"	alt="Add Address" title="Add Address" /></a></td>
				<td>
				<a th:if="${trader.stock==null}" th:href="@{'/admin/main/stock/'+${trader.id}}">
				<img src="/images/stock-icon.png" height="25px" 	width="25px" alt="Add Stock" title="Add Stock"/>
					</a></td>
				<td></td>
			</tr>
		</table>
		
		<p></p>
		
		<table th:if="${results.address!=null}">
		<thead class="thead-dark">
			<th>Address Descrition</th>
			<th>City</th>
			<th>Zone</th>
		</thead>
		<tr  th:each="address : ${results.address}">
			<td th:text="${address.description}"></td>
			<td th:text="${address.city}"></td>
			<td th:text="${address.zona}"></td>
		</tr>
		</table>
		
		
		
	</div>


</body>
</html>