<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>ADMIN TRADER</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>

	<div id="div_search">
		<h2>Search Consumer</h2>
		<form action="/consumer/search"  method="post">
			<div class="form-group">
			<table>
				<tbody>
					<tr>
						<td><label>By Firts Name:</label></td>
						<td><input type="text" id="firstName" name="firstName" /></td>
						<td><label>By Dni:</label></td>
						<td><input type="text" id="dni" name="dni" /></td>
						<td>
							<button type="submit" class="btn btn-primary">Search Consumer</button>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			</form>
	</div>

<p></p>
<span th:text="${consumers}"> </span>
<div id="div_list" th:if="${not #lists.isEmpty(consumers)}" class="table table-striped">
		<table>
			<tr>
				<th>DNI</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>State</th>
				<th>Invoices</th>
				<th colspan="5"></th>
			</tr>
			<tr th:each="consumer : ${consumers}">
				<td th:text="${consumer.dni}"></td>
				<td align="center" th:text="${consumer.firstName}"></td>
				<td align="center" th:text="${consumer.lastName}"></td>
				
				<td align="center" th:if="${consumer.state==false}"  th:text="Inacive"></td>
				<td align="center" th:if="${consumer.state==true}" th:text="Active"></td>
				
				
				
				<td align="center"  th:text="${consumer.invoices.size()}" width="10%"></td>
				
				<td>
				<a href="#">
				<img src="../images/edit-ico.png" height="30px"	width="30px" alt="Update" title="Update Consumer"/>
				</a></td>
					
				<td>
				<a href="#">
				<img src="../images/delete-xxl.png" height="25px" width="25px" alt="Delete" title="Delete Consumer"/>
				</a>
				</td>
				
				<td>
				<a href="#">
				<img src="../images/invoice-icon.jpg" height="25px" 	width="25px" alt="Add Invoice" title="Add Invoice"/>
					</a></td>
				<td></td>
			</tr>
		</table>
</div>



</body>
</html>