<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>

	<div id="div_search">
		<h2>Add Products in Stock</h2>
		<form th:action="@{/admin/main/viewformsearchstoch}" th:object="${trader}" method="post">
			<div class="form-group">
			<table>
				<tbody>
					<tr>
						<td><label>Cuit to Search:</label></td>
						<td><input type="text" th:field="*{cuit}" /></td>
						<td>
							<button type="submit" class="btn btn-primary">Search</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
		</form>
	</div>


<div id="div_not_find" th:if="${notfind}">
	<h3 th:text="${notfind}"></h3>
</div>

<div class="table table-striped" id="div_list" th:if="${not #lists.isEmpty(traderInfo)}">
<table  class="table" >
		<thead class="thead-dark">
				<th>Name</th>
				<th>State</th>
				<th>Cuit</th>
				<th>Score</th>
				<th>Stock Date</th>
				<th>Add more Products</th>
			</tr>
		
				<tr th:each="trader : ${traderInfo}">
				<td th:text="${trader.name}"></td>
				<td class="table-danger" th:if="${trader.state==false}"  th:text="Inacive"></td>
				<td th:if="${trader.state==true}" th:text="Active"></td>
				
				<td th:text="${trader.cuit}"></td>
				<td th:text="${trader.score}"></td>
			 	<td th:if="${trader.getStock() != null }" th:text="${trader.getStock().dateStock}"></td> 
				<td align="center" th:if="${trader.stock!=null}" >
				<a th:href="@{'/admin/main/sendproducttostock/'+${trader.id}}">
					<img src="/images/add-product-ico.png" height="25px"	width="25px" alt="Add Stock" title="Add Product"/>
				</a>			
				</td>
				<td class="table-danger" th:if="${trader.stock==null}" th:text="WithOut_Stock"></td>
				</tr>
		</table>		
</div>


<span th:if="${traderInfo}">
<span th:if="${traderInfo.stock!=null}">
<table  class="table" >
		<thead class="thead-dark">
				<th><h6>#</h6></th>
				<th><h6>Date</h6></th>
				<th><h6>Product Code</h6></th>
				<th><h6>Description</h6></th>
				<th>Units</th>
				<th></th>
				<th></th>
		</thead>
		<tr  th:each="products, index : ${traderInfo.getStock().stockproducts}">
					<td th:text="${index.index}"> </td>
					<td th:text="${products.date}"> </td>
					<td th:text="${products.product.code}"> </td>
					<td th:text="${products.product.description}"> </td>
					<td th:text="${products.quantity}"> </td>					
		</tr>
</table>
</span>
</span>


</body>
</html>