<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>

	<div id="div_search">
		<h2 style='font-weight: bold; background-color:#FFAE33'>Add Products in Trader Stock</h2>
		<form th:action="@{/admin/main/viewformsearchstoch}" th:object="${trader}" method="post">
			<div class="form-group">
			<table>
				<tbody>
					<tr>
						<td><label>Search Trader by Cuit:</label></td>
						<td><input type="text" th:field="*{cuit}" /></td>
						<td>
							<button type="submit" class="btn btn-primary">Search</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
		</form>
	</div>


<div id="div_not_find" th:if="${notfind}">
	<h3 th:text="${notfind}"></h3>
</div>


<div class="table table-striped" id="div_list" th:if="${not #lists.isEmpty(traderInfo)}">
<table  class="table" >
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Cuit</th>
				<th>State</th>
				<th>Score</th>
				<th>Stock Date</th>
				<th>Total Products(Un.)</th>
				<th>Add more Products</th>
			</tr>
		
			<tr th:each="trader : ${traderInfo}">
				<td th:text="${trader.name}"></td>
				<td th:text="${trader.email}"></td>
				<td th:text="${trader.cuit}"></td>
			
				<td class="table-danger" th:if="${trader.state==false}"  th:text="Inacive"></td>
				<td th:if="${trader.state==true}" th:text="Active"></td>
				
				<td th:text="${trader.score}"></td>
			 	<td th:if="${trader.getStock() != null }" th:text="${trader.getStock().dateStock}"></td> 
	  			  
			 	<td th:if="${traderInfo.stock.stockproducts.size() == 0}"  th:text="${'0 Un.'}"></td> 
	
			 	<td th:if="${traderInfo.stock.stockproducts.size() > 0}" th:text="${ + #aggregates.sum(traderInfo.getStock().stockproducts.![quantity]) + ' Un. '}"></td> 
				
	
				<td th:if="${trader.stock!=null}" >
				<a th:target="_blank" th:href="@{'/admin/main/sendproducttostock/'+${trader.id}}">
					<img src="/images/add-product-ico.png" height="25px"	width="25px" alt="Add Stock" title="Add Product"/>
				</a>			
				</td>
				<td class="table-danger" th:if="${trader.stock==null}" th:text="WithOut_Stock"></td>
			</tr>
		</table>		
</div>


<div  th:if="${not #lists.isEmpty(traderInfo)  && traderInfo.stock.stockproducts.size() > 0}" >

	<div>
		<h4 style='font-weight: bold; background-color:#FFAE33'>Details in Stock <label th:text="${traderInfo.cuit}"> </label></h4>
	</div>

	<table  class="table">
		<thead class="thead-dark">
		<tr>
				<th><h6>#</h6></th>
				<th><h6>Date</h6></th>
				<th><h6>Product Code</h6></th>
				<th><h6>Description</h6></th>
				<th>Units</th>
				<th></th>
				<th></th>
		</tr>
		</thead>
	
		<tr  th:each="products, index : ${traderInfo.getStock().stockproducts}">
					<td th:text="${index.index}"> </td>
					<td th:text="${products.date}"> </td>
					<td th:text="${products.product.code}"> </td>
					<td th:text="${products.product.description}"> </td>
					<td th:text="${products.quantity}"> </td>					
		</tr>
</table>
</div>


</body>
</html>