<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>

	<div class="form-group" th:if="${stproductdb}">
		<h2 style='font-weight: bold; background-color:#FFAE33'>Update Product in Stock</h2>
		<table  width="18%">
				<tr>
					<td>Product:</td>
					<td align="left" th:text="${stproductdb.product.code}"></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td align="left" th:text="${stproductdb.product.description}"></td>
				</tr>
		</table>

		<form action="#" th:action="@{/admin/main/save}" method="post">
			<table  width="18%">
				<tr>
					<td>Quantity:</td>
					<td align="right">
					   <input type="text"  name="quantity"  id="quantity"  th:value="${stproductdb.quantity}"  /> 
					   <input type="hidden" name="idproduct"  id="idproduct"  th:value="${stproductdb.product.id}"  /> 
					   <input type="hidden" name="idtrader"  id="idtrader"  th:value="${traderdb.id}" />
					</td>
				</tr>
				<tr>
					<td align="right" colspan="2">
						<button type="submit" class="btn btn-primary">Update</button>
					</td>
				</tbody>
			</table>
		</form>

	</div>




</body>
</html>