<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>ADMIN TRADER</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>
	<div id="div_update" th:switch="${traderdb}">
		<h2 th:case="null">No users yet!</h2>
		<div th:case="*">
			<h2>Update Trader Form</h2>

			<form action="#" th:action="@{/main/update/{id}(id=${traderdb.id})}" 	th:object="${traderdb}" method="post">
				<table>
					<tbody>

						<tr>
							<td>Name</td>
							<td><input type="text" id="name" th:field="*{name}"  th:value="${traderdb.name}" /></td>
						</tr>
						
						
						<tr>
							<td>Password</td>
							<td><input type="text" id="password" th:field="*{password}"  th:value="${traderdb.password}" /></td>
						</tr>
						
						
						<tr>
							<td>State</td>
							<td>
							<select id="state" th:field="*{state}"  th:value="${traderdb.state}">
									<option th:value="'0'" th:text="Inactive"></option>
									<option th:value="'1'" th:text="Active"></option>
							</select>
							</td>
						</tr>
						<tr>
							<td>Cuit</td>
							<td><input type="text" id="cuit" th:field="*{cuit}"  th:value="${traderdb.cuit}" /></td>
						</tr>
						
						<tr>
							<td>Score</td>
							<td><input type="text" id="score" th:field="*{score}"  th:value="${traderdb.score}" /></td>
						</tr>
						
						
						<tr>
							<td>&nbsp;</td>
							<td>
								<button type="submit">Update</button>
								<button type="reset">Clear</button>
							</td>
						
							
							
					</tbody>
				</table>
			</form>
		</div>
	</div>




</body>
</html>