<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Payless</title>
<th:block th:include="layout/header"></th:block>
</head>

<body>

	<div class="form-group" th:if="${stproductdb}">
		<h2 style='font-weight: bold; background-color:#FFAE33'>Update Product in Stock</h2>
		<table>
				<tr>
					<td>Product:</td>
					<td align="left" th:text="${stproductdb.product.code}"></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td align="left" th:text="${stproductdb.product.description}"></td>
				</tr>
				<tr>
					<td colspan=2>
					<form action="#" th:action="@{/admin/main/save}" method="post">
						<table>
									<tr>
										<td>Quantity:</td>
										<td >
										   <input type="text"  name="quantity" maxlength="4" size="4" id="quantity"  th:value="${stproductdb.quantity}"  /> 
										   <input type="hidden" name="idproduct"  id="idproduct"  th:value="${stproductdb.product.id}"  /> 
										   <input type="hidden" name="idtrader"  id="idtrader"  th:value="${traderdb.id}" />
										</td>
									</tr>
									<tr>
										<td>
										</td>
										<td>
										   <button type="submit" class="btn btn-primary">Update</button>
										</td>
									</tr>
									</tbody>
								</table>
					</form>
					</td>		
				
				</tr>
		</table>

		
	</div>




</body>
</html>